input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


.imagen-enfermera {
    max-height: 200px;
    // width:auto;
    max-width: 200px;
    position: absolute;

    right: 0px;

    top: -5px;
}
.imagen-obstetra {
    // background: url(./assets/img/brand/picobstetra.png) no-repeat center center fixed; 
    
    max-height: 200px;
    // width:auto;
    max-width: 200px;
    position: absolute;

    right: 0px;

    top: -5px;
}
.fondo-hospital{
    background: url(./assets/img/brand/hospitalPerf.jpg) no-repeat center center fixed; 

  background-size: cover;
}
.bfondo-hos{
    background: url(./assets/img/brand/fondoHos.jpg) no-repeat center center fixed; 

  background-size: cover;
}
.imagen-enfermeraWriting {
    height: 100px;
    width:auto;
    // width: 80px;
    position: absolute;
    border-radius: 8px;
    left: 140px;
    margin: 2px 0;
    top: 1px;
}

.fond{
    background:#61e0de;
}